<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<array>
	<dict>
		<key>DefaultValue</key>
		<string>google</string>
		<key>Key</key>
		<string>feed_action</string>
		<key>Title</key>
		<string>Open feeds in</string>
		<key>Titles</key>
		<array>
			<string>Google Reader</string>
			<string>Default application</string>
			<string>Always ask</string>
		</array>
		<key>Type</key>
		<string>RadioButtons</string>
		<key>Values</key>
		<array>
			<string>google</string>
			<string>defaultapp</string>
			<string>alwaysask</string>
		</array>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<true/>
		<key>Key</key>
		<string>hide_badge</string>
		<key>Title</key>
		<string>Hide badge after clicking toolbar button</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
	<dict>
		<key>DefaultValue</key>
		<real>5</real>
		<key>Key</key>
		<string>banner_timeout</string>
		<key>MaximumValue</key>
		<real>10</real>
		<key>Title</key>
		<string>"Loading" message timeout (secs)</string>
		<key>Type</key>
		<string>Hidden</string>
	</dict>
</array>
</plist>
