<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Extension Updates</key>
	<array>
		<dict>
			<key>CFBundleIdentifier</key>
			<string>com.scottishwildcat.feedmenu</string>
			<key>Developer Identifier</key>
			<string>U658JZ835M</string>
			<key>CFBundleVersion</key>
			<string>220</string>
			<key>CFBundleShortVersionString</key>
			<string>2.2.0</string>
			<key>URL</key>
			<string>http://calum.me/safari/RSSMenu.safariextz</string>
		</dict>
	</array>
</dict>
</plist>
