<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>Author</key>
	<string>Calum Benson</string>
	<key>Builder Version</key>
	<string>9537.74.6</string>
	<key>CFBundleDisplayName</key>
	<string>RSS Menu</string>
	<key>CFBundleIdentifier</key>
	<string>com.scottishwildcat.feedmenu</string>
	<key>CFBundleInfoDictionaryVersion</key>
	<string>6.0</string>
	<key>CFBundleShortVersionString</key>
	<string>2.2.0</string>
	<key>CFBundleVersion</key>
	<string>220</string>
	<key>Chrome</key>
	<dict>
		<key>Global Page</key>
		<string>global.html</string>
		<key>Menus</key>
		<array>
			<dict>
				<key>Identifier</key>
				<string>feedMenu</string>
			</dict>
		</array>
		<key>Toolbar Items</key>
		<array>
			<dict>
				<key>Command</key>
				<string></string>
				<key>Identifier</key>
				<string>feedMenuBtn</string>
				<key>Image</key>
				<string>img/toolbarBtn.png</string>
				<key>Label</key>
				<string>Feed Menu</string>
				<key>Menu</key>
				<string>feedMenu</string>
				<key>Palette Label</key>
				<string>Feed Menu</string>
				<key>Tool Tip</key>
				<string>Show available RSS/Atom feeds</string>
			</dict>
		</array>
	</dict>
	<key>Content</key>
	<dict>
		<key>Scripts</key>
		<dict>
			<key>End</key>
			<array>
				<string>js/pageEndScript.js</string>
			</array>
			<key>Start</key>
			<array>
				<string>js/common.js</string>
			</array>
		</dict>
		<key>Stylesheets</key>
		<array>
			<string>popup.css</string>
		</array>
	</dict>
	<key>Description</key>
	<string>List RSS and Atom feeds available on the web page being viewed.</string>
	<key>ExtensionInfoDictionaryVersion</key>
	<string>1.0</string>
	<key>Permissions</key>
	<dict>
		<key>Website Access</key>
		<dict>
			<key>Include Secure Pages</key>
			<true/>
			<key>Level</key>
			<string>All</string>
		</dict>
	</dict>
	<key>Update Manifest URL</key>
	<string>http://calum.me/safari/update.plist</string>
	<key>Website</key>
	<string>http://calum.me/safari</string>
</dict>
</plist>
