/** Injected stylesheet for Safari RSS Feed Extension **/
/** © 2012-2016 Calum Benson                          **/
/** Licence: None - public domain                     **/ 


.rssmenu-popup {

	display: flex !important;
	align-items: center !important;

	background-color: #ffdd77 !important;
	border-color: #666666 !important;
	border-style: solid !important;
	border-width: 0 0 thin 0 !important;
	border-radius: 0px !important;
	width:100% !important;
	-webkit-box-shadow: 0px 4px 4px #999;
	box-sizing: content-box !important;
	
	margin: 0 0 !important;
	padding: 4px 0px !important;

	font-size: 14px !important;
	font-family: sans-serif !important;
	color: black !important;

	position: fixed !important;
	left: 0px !important;
	top: 0px !important;

	z-index: 2147483647 !important; /*Highest value Safari supports */

	-webkit-transition: opacity .25s ease-in-out !important;;
	opacity: 0; /* Set this to '1' at runtime to make the div fade in */

}

.rssmenu-popup * {
	font-family: 'HelveticaNeue', 'Helvetica Neue', 'Helvetica' !important;
}

.rssmenu-popup #select-url::selection {
	background:#99CCFF !important;
}

.rssmenu-popup img {
	padding: 0px 8px !important;
}

.rssmenu-url {

	flex-grow:1;
	white-space: nowrap !important;
	overflow:hidden !important;

	white-space: nowrap !important;
	overflow: hidden !important;
	text-overflow: ellipsis !important;
}

.rssmenu-url a:link {
	text-decoration: underline !important;
	color: black !important;
	font-weight: normal !important;
	font-size:14px !important;
}

.rssmenu-action {
	display:flex !important;
	align-items: center !important;
	flex-wrap: nowrap !important;
	margin: 0 8px !important;

}

.rssmenu-pushbuttons {
	display:flex !important;
	flex-wrap: none !important;
	margin-right: 8px !important;
}

.rssmenu-button {

	padding: 2px 4px !important;
	margin: 0px 0px 0px 4px !important;
	float:right !important;
	white-space: nowrap !important;

	-webkit-border-radius: 2px !important;
	background-image: -webkit-linear-gradient(top, #fdfdfd, #f3f3f3) !important; 
	border: thin solid #d2d2d2 !important;
	border-radius: 4px !important;

	font: webkit-small-control !important;
	font-weight: normal !important;
	font-size: 14px !important;

	height: auto !important;
	line-height:normal !important;
	text-indent: 0px !important;
	color: #333 !important;
	-webkit-user-select: none !important; /* So user can't select button text */
	
	cursor:pointer !important;
}


/* Hover must come before active… */
.rssmenu-button:hover {
	/* 	background-image: -webkit-linear-gradient(top, #eee, #bbb) !important;  */
}

.rssmenu-button:active {
	background-image: -webkit-linear-gradient(top, #e5e5e5, #ddd) !important; 
}

/* See http://coding.smashingmagazine.com/2012/08/20/towards-retina-web/ for retina-friendly tips */
.rssmenu-closebtn {

	padding: 2px 4px !important;
	
	background-image: url(img/closeBtn@2x.png) !important;
	background-size: 16px 16px !important;
	height: 16px !important;
	width: 16px !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
	}

.rssmenu-closebtn:hover {
	background-image: url(img/closeBtn-hover@2x.png) !important;
}

.rssmenu-icon {

	margin: 0 8px !important;
	flex-shrink: 0 !important;

	background-image: url(img/RSS-40.png) !important;
	background-size: 20px 20px !important;
	height: 20px !important;
	width: 20px !important;
	background-repeat: no-repeat !important;
	background-position: center !important;
}