html {
	font-family: sans-serif;
	min-width:100%;
	min-height: 100%;
}

body {
	padding: 24px;
}

h1 {
	margin-top:0;
	margin-bottom: 0;
}

h1.feedtitle a {
	text-decoration: none;
	color: black;
}

h1.feedtitle a:hover {
	text-decoration: underline;
}

h2.feeddesc {
	font-weight: 100; 
	font-size: 14px; 
	color: #222; 
}
article {
	background-color: white;
	padding: 4px;
	overflow: auto;
	border-top:1px solid #e6e6e6
}

#alist {
	clear:both;
	padding: 24px;
}

.artheader h2 {
	margin: 0px;
}

.elips {
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

a.atitle {
	text-decoration: none;
	font-size: 0.6em;
	font-weight: bold;
	color: black;
	margin: 2px 0px;
	float:left; 
	min-width:5%;
	max-width:60%;
}

a.atitle:hover{
	color:purple;
}

a.ext {
    background: url(img/external-link.png) center right no-repeat;
    padding-right: 16px;
}

.alink {
	margin-top:2px;
	font-size: small;
	color:grey;
	clear:both;
	float:left;
	display:none;
}

.author {
	float:left;
	margin-left: 8px;
	font-size: smaller;
	color: gray;
	margin: 2px 8px;
	
	min-width:5%;
	max-width:15%; 

}

.adate {
	font-size: smaller;
	float:right; 
	min-width:5%;
	max-width:15%; 
	text-align: right;
	margin-left: 8px;
}


.abody {
	clear: both;
	display: none;
	padding: 12px 24px;
	font-size: 0.9em;
}


.subscribe {
	display: inline-block !important;
	padding: 2px 4px !important;
	margin: 0px 0px 0px 4px !important;
	float:right !important;

	-webkit-border-radius: 2px !important;
	background-image: -webkit-linear-gradient(top, #fff, #ccc) !important; 
	border: thin outset black !important;

	font: webkit-small-control !important;
	font-weight: normal !important;
	height: auto !important;
	line-height:normal !important;
	text-indent: 0px !important;
	color: #333 !important;
	-webkit-user-select: none !important; /* So user can't select button text */
	
	cursor:pointer !important;
}

/* Hover must come before active… */
.subscribe:hover {
	background-image: -webkit-linear-gradient(top, #eee, #bbb) !important; 
}

.subscribe:active {
	background-image: -webkit-linear-gradient(top, #ccc, #fff) !important; 
}