html {
	font-family: sans-serif;
	min-width:100%;
	min-height: 100%;
}

body {
	padding: 24px;
}


h1#feedtitle {
	margin-top:0;
	margin-bottom: 0;
	display:inline-block;
	font-family:serif;
	max-width:80%;
	min-width:5%;
}

h1#feedtitle a {
	text-decoration: none;
	color: black;
	
	background: url(img/preview-subscribe.png) center right no-repeat; 
	padding-right: 28px;
}

h1#feedtitle a:hover {
	text-decoration: underline;
	background: url(img/preview-subscribe-hover.png) center right no-repeat; 
}

h2#feeddesc {
	clear:both;
	font-weight: 100; 
	font-size: 18px; 
	color: #222;
	margin-top: 8px;
}

#pageheader button {
	-webkit-appearance: none; 
	border:0; 
	margin:0;
	padding:0;
	float:right;
	padding-left:12px;
	background:none; 
}


img#subscribe {
	padding-left: 12px;
}

img#homepage {
	float:right;
	padding-left: 12px;
}



#alist {
	clear:both;
	padding: 24px;
}


article {
	background-color: white;
	padding: 4px;
	overflow: auto;
	border-top:1px solid #e6e6e6
}

.artheader h2 {
	margin: 0px;
}

.elips {
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

a.atitle {
	text-decoration: none;
	font-size: 0.6em;
	font-weight: bold;
	color: black;
	margin: 2px 0px;
	float:left; 
	min-width:5%;
	max-width:60%;
}

a.atitle:hover{
	color:purple;
}

a.ext {
    background: url(img/external-link.png) center right no-repeat;
    padding-right: 16px;
}

.alink {
	margin-top:2px;
	font-size: small;
	color:grey;
	clear:both;
	float:left;
	display:none;
}

.author {
	float:left;
	margin-left: 8px;
	font-size: smaller;
	color: gray;
	margin: 2px 8px;
	
	min-width:5%;
	max-width:15%; 

}

.adate {
	font-size: smaller;
	float:right; 
	min-width:5%;
	max-width:15%; 
	text-align: right;
	margin-left: 8px;
}


.abody {
	clear: both;
	display: none;
	padding: 12px 24px;
	font-size: 0.9em;
}


#ack {
	font-size:10px;
	color:#999;
	float:right;
}

#ack a {
	color:#999;
}

#ack a:hover {
	color:purple;
}

#error{
	display:none;
}
