/** Sylesheet for Safari RSS Feed Extension           **/
/** © 2012-2017 Calum Benson                          **/
/** Licence: None - public domain                     **/ 

html {
	font-family: sans-serif;
	min-width:100%;
	min-height: 100%;
}

body {
	margin:0;
}

#pageheader {
	position: fixed;
	width: 100%;
	top: 0px;
	height: auto;
	padding-top: 24px;
	background-color: white;
	display: flex;
	flex-wrap: nowrap;
}

#wait {
	display:flex; 
	flex-direction: column; 
	align-items: center;
}

#controls {
	padding-right: 24px;
}

#toolbuttons {
	display:flex;
}

#desc {
	flex-grow:1;
	padding-left: 24px;
}

h1 {
	margin-top:0;
	margin-bottom: 0;
	display:inline-block;
	font-family:serif;
	font-size: 28px;
	max-width:80%;
	min-width:5%;
}

h1#feedtitle {
/* 	float:left; */
}

h2#errormsg {
	font-size: 22px;
	font-family: serif;
}

h2#feeddesc {
	clear:both;
	max-width: 80%;
	font-weight: 100; 
	font-size: 18px;	
	font-family: serif;
	color: #222;
	margin-top: 8px;
}

a#feedurl {
	clear:both;
	max-width: 80%;
	font-weight: 100; 
	font-size: 12px;	
	font-family: sans-serif;
	color: #222;
	margin-top: 0px;
}

a#feedurl::selection{
	background:#99CCFF;
}


button#show-all,
button#hide-all,
button#toggle-images {
	-webkit-appearance: none; 
	border:0; 
	margin:0;
	padding:0;
	padding-left:12px;
	background:none; 
}

a#homepage {
    background: url(../img/preview-webpage@2x.png) center right no-repeat;
    background-size: 24px 24px;
	padding-left: 12px;	
	width: 24px;
	height: 24px;
}

#open-in-app {
	position: relative;
	top: 8px;
}

#alist {
	clear:both;
	padding: 24px;
	margin-top: 100px;
}


article {
	background-color: white;
	padding: 4px;
	overflow: auto;
	border-top:1px solid #e6e6e6
}

.artheader h2 {
	margin: 0px;
}

.elips {
	overflow: hidden; 
	text-overflow: ellipsis; 
	white-space: nowrap;
}

a.atitle {
	text-decoration: none;
	font-size: 0.6em;
	font-weight: bold;
	color: black;
	margin: 2px 0px;
	float:left; 
	min-width:5%;
	max-width:60%;
}

a.atitle:hover{
	color:purple;
}

a.ext {
    background: url(../img/external-link@2x.png) center right no-repeat;
    background-size: 12px 12px;
    padding-right: 16px;
}

.alink {
	margin-top:2px;
	font-size: small;
	color:grey;
	clear:both;
	float:left;
	display:none;
}

a.alink:hover{
	color: purple;
}

.author {
	float:left;
	margin-left: 8px;
	font-size: smaller;
	color: gray;
	margin: 2px 8px;
	
	min-width:5%;
	max-width:15%; 

}

.adate {
	font-size: smaller;
	float:right; 
	min-width:5%;
	max-width:15%; 
	text-align: right;
	margin-left: 8px;
}


.abody {
	clear: both;
	display: none;
	padding: 12px 24px;
	font-size: 0.9em;
}


#ack {
	font-size:10px;
	color:#999;
	float:right;
	padding: 0 24px 24px 24px;

}

#error{
	display:none;
}

#errormsg{
	text-transform: capitalize;
}

a#subscribe {

	float:right;
	text-decoration: none;
	font-size: small;
	
}
